<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>スタート画面</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='start.css') }}">
</head>
<body>
  <main>
    <h1>スキルを選択してください：</h1>
    <form action="/start/play" method="POST">
    <!-- <section class="name1_input">
        <p>
            <label>１: </label>
        </p>
        <p class="input2">
            <label for="your_name1">name: </label>
            <input type="text" id="your_name1" name="user1">
            <label for="your_name1">HP: </label>
            <input type="text" id="your_hp1" name="user1">
        </p> 
    </section>
    <section class="name2_input">
        <p>
            <label>２: </label>
        </p>
        <p class="input1">
            <label for="your_name2">name: </label>
            <input type="text" id="your_name2" name="user2">
            <label for="your_name2">HP: </label>
            <input type="text" id="your_hp2" name="user2">
          </p> 
    </section> -->
      <table border="0">
        <tr>
          <th>JOB</th>
          <th>SKILL</th>
        </tr>
        <tr>
          <td>剣士：</td>
          <td>
            <input type="checkbox" name="kenshi" value="スキル1">スキル1
            <input type="checkbox" name="kenshi" value="スキル2">スキル2
            <input type="checkbox" name="kenshi" value="スキル3">スキル3
          </td>
        </tr>
        <tr>
          <td>タンク役：</td>
          <td>
            <input type="checkbox" name="tannku" value="スキル1">スキル1
            <input type="checkbox" name="tannku" value="スキル2">スキル2
            <input type="checkbox" name="tannku" value="スキル3">スキル3
          </td>
        </tr>
        <tr>
          <td>支援役：</td>
          <td>
            <input type="checkbox" name="shienn" value="スキル1">スキル1
            <input type="checkbox" name="shienn" value="スキル2">スキル2
            <input type="checkbox" name="shienn" value="スキル3">スキル3
          </td>
        </tr>
        <tr>
          <td>回復役：</td>
          <td>
            <input type="checkbox" name="kaifuku" value="スキル1">スキル1
            <input type="checkbox" name="kaifuku" value="スキル2">スキル2
            <input type="checkbox" name="kaifuku" value="スキル3">スキル3
          </td>
        </tr>
      </table>
      <button type="submit">開始</button>
    </form>
  </main>
</body>
</html>