<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ドラゴン討伐隊</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='top.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Yomogi&family=Zen+Kurenaido&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="box">
            <h1>ドラゴン</h1>
            <h1>討伐隊</h1>
            <form action="/start" method="post">
                <input type="submit" name="skill" value="START">
            </form>
        </div>
    </div>
</body>

</html>